* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.primary_color {
    color: #2639ed;
}

/* ------------------------------------------- */
/*      Header Section       */
.logo_name {
    color: #2639ed;
    transition: all .3s linear;
}

.logo_name:hover {
    color: #2639ed;
    text-shadow: 0px 0px 15px #2639ed;
}

.rounding {
    border-radius: 0px 50px 0px 50px;
}

.custom_button  {
    color: white;
    background: #2639ed;
    padding: 13px 25px;
    transition: all .3s linear;
    border: 1px solid #2639ed;
    border-radius: 50px;
}

.custom_button:hover {
    color: #2639ed;
    background: transparent;
    box-shadow: 0px 0px 15px cyan;
}

/* --------------------------------------------------- */
/*      Cards Section        */
.card_img {
    border-radius: 20px;
    background: #F1F7FF;
    width: 150px;
    height: 150px;
    padding: 30px;
}

.card_img2 {
    border-radius: 20px;
    background: #FFF2F8;
    width: 150px;
    height: 150px;
    padding: 30px;
}

.card_img3 {
    border-radius: 20px;
    background: #FFF7E3;
    width: 150px;
    height: 150px;
    padding: 30px;
}

.card_img4 {
    border-radius: 20px;
    background: #DEFFEE;
    width: 150px;
    height: 150px;
    padding: 30px;
}

.col_bg {
    background: #F4F9FF;
    border-radius: 30px 0px 0px 0px;
}

/* ------------------------------------- */
/*      Review Section       */
.person_1 {
    border-radius: 50% 0px 50% 50%;
}

/* --------------------------------------- */
/*      Newsletter Section       */
.newsletter  {
    background: #F4F9FF;
    border-radius: 75px;
}

.news_col {
    background: #2639ed;
    border-radius: 50px;
    padding: 50px;
}

.scl_button {
    color:#2639ed !important;
    background: aqua !important;
    transition: all .3s linear;
    border: 1px solid aqua !important;
}

.scl_button:hover  {
    color: aqua !important;
    background: #2639ed !important;
    box-shadow: 0px 0px 20px aqua;
}
/* ------------------------------------------ */
/*      Footer Section       */
.footer {
    background: #301934;
    color: white;
}

.custom_link {
    color: cyan;
    transition: all .3s linear;
}

.custom_link:hover {
    text-shadow: 0px 0px 15px cyan;
    color: #2639ed;
}

.animate {
    transition: all .3s linear;
}

.animate:hover {
    transform: rotate(180deg);
}